<!-- <p>bio works!</p> -->
<!-- <div class="bio-container">
  <div class="card">
    <p>
      An IT Consultant is a knowledgeable professional who helps businesses
      develop, integrate, and maximize the value of IT systems. They provide
      strategic advice, troubleshoot technical issues, and offer expertise in
      areas such as hardware, software, networks, and project management.
    </p>
  </div> -->
<!-- </div> -->
<mat-card>
  <mat-card-header
    ><mat-card-title>Bio Goes Here</mat-card-title></mat-card-header
  >
  <mat-card-content>
    An IT Consultant is a knowledgeable professional who helps businesses
    develop, integrate, and maximize the value of IT systems. They provide
    strategic advice, troubleshoot technical issues, and offer expertise in
    areas such as hardware, software, networks, and project management.
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Click to save</button>
  </mat-card-actions>
  <mat-card-footer
    ><mat-card-content
      >Dates and Whatnot goes Down here</mat-card-content
    ></mat-card-footer
  ></mat-card
>
