.example-container {
    width: 300px;
    height: 400px;
    border: 1px solid rgba(77, 74, 74, 0.5);
    border-radius: 6;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  