<!-- <mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" class=".example-sidenav">
    <p>This is a side nav</p>
    <p *ngIf="showFiller">So many things here but nothing to see</p>
    <button mat-button (click)="toggleElement()">Click Me</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button mat-button (click)="drawer.toggle()">See Drawer</button>
  </div>
</mat-drawer-container> -->

<!-- <div>
  <mat-sidenav sidenave mode="side" class="sidenav-container">
    <p>This is a side nav</p>
    <span class="material-icons-outlined"> login </span>
    <div> -->
<!-- <p *ngIf=""></p> -->
<!-- </div>
  </mat-sidenav>
</div> -->
<mat-sidenav-container>
  <mat-sidenav>
    <mat-list>
      <mat-list-item routerLink="">
        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
