<!-- <p>career works!</p> -->
<div class="career-card-container">
  <div class="card">
    <h3>IT Consultant</h3>
    <h4>Hoslack Technologies</h4>
    <p>
      An IT Consultant is a knowledgeable professional who helps businesses
      develop, integrate, and maximize the value of IT systems. They provide
      strategic advice, troubleshoot technical issues, and offer expertise in
      areas such as hardware, software, networks, and project management.
    </p>
    <p>July 2014 - January 2016</p>
  </div>
</div>
