<div class="main-container">
  <div class="page-header card">
    <div class="title">
      <h2 class="card-title main-content-title tx-24 mg-b-5">
        Notification List
      </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Application List
        </li>
      </ol>
    </div>

    <div class="d-flex">
      <div class="justify-content-center">
        <button type="button" class="btn btn-white btn-icon-text my-2 me-2">
          <i class="bi bi-box-arrow-in-down"></i> Import</button
        ><button type="button" class="btn btn-white bt my-2 me-2">
          <i class="bi bi-funnel"></i> Filter</button
        ><button
          type="button"
          class="btn btn-primary my-2 btn-icon-text btn-download"
        >
          <i class="bi bi-cloud-download"></i> Download Report
        </button>
      </div>
    </div>
  </div>

  <div class="notification-container">
    <i class="bi bi-circle"></i>
  </div>
</div>
