<mat-toolbar color="primary" class="navbar">
  <div>
    Brim Hoome
    <!-- <mat-form-field>
      <input matInput placeholder="search" />
    </mat-form-field> -->
    <button mat-button>Search</button>
  </div>
  <div>
    <span>
      <button routerLink="/" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="/charts">
        <mat-icon>insert_chart</mat-icon>Charts
      </button>
      <button mat-button routerLink="/profile">Another nav</button>
      <button routerLink="/homelocation" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
