.main-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
form {
  margin-top: 6%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 1%; */
  width: 80%;
  button {
    opacity: 1;
  }
}
.mdc-dialog__surface {
  border-radius: 16px;
}
::ng-deep mat-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
