.dashboard-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(222, 255, 243);
  width: 50px;
  height: 50px;
  margin-top: 10px;
  color: #144b73;
}
mat-card {
  color: #144b73;
}
mat-card-title {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
