<div class="main-container">
  <!-- img src="/assets/background1.jpg" alt="" /> -->
  <form #userForm="ngForm">
    <div class="login-form"></div>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        matInput
        placeholder="John"
        required="Cannot be Empty!"
        name="firstname"
        [(ngModel)]="userLogin.name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        required
        placeholder="text@g.com"
        name="email"
        [(ngModel)]="userLogin.email"
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <!-- pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" -->
    <!-- <div *ngIf="email.touched || pass.invalid">
      <small class="form-danger" *ngIf="email.touched">Invalid email!</small>
    </div> -->

    <!-- <div class="form-group"> -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter strong Password"
        required="Enter Password!"
        #pass="ngModel"
        required
        [class.form-danger]="pass.touched"
        name="password"
        [type]="hide ? 'text' : 'password'"
        [(ngModel)]="userLogin.password"
      />

      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility" : "visibility_off"
      }}</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select
        #select="ngModel"
        [class.form-danger]="select.invalid && select.touched"
        name="select"
        [(ngModel)]="userLogin.select"
        required
      >
        <div ngDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngDropdownMenu>Action 1</button>
          <button ngDropdownMenu>Action 2</button>
          <button ngDropdownMenu>Action 3</button>
        </div>
        <mat-option value="option 1"> Option 1 </mat-option>
        <mat-option value="option 1"> Option 2 </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <div *ngIf="select.touched || select.invalid">
      <small class="form-danger" *ngIf="select.touched"
        >Select an Option!</small
      >
      <small class="form-danger" *ngIf="select.invalid"
        >Select an Option!</small
      >
    </div> -->

    <!-- <div *ngIf="pass.errors && (pass.touched || pass.invalid)"></div>
      <small class="form-danger" *ngIf="pass.touched">password required!</small>
    </div> -->
    <button mat-raised-button type="submit" color="primary">Login</button>
  </form>
</div>
