<div class="main-container">
  <!-- img src="/assets/background1.jpg" alt="" /> -->
  <form>
    <div class="login-form"></div>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="John" required="Cannot be Empty!" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="text@g.com" />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter strong Password"
        required="Enter Password!"
      />
      <mat-icon matSuffix>visibility_off</mat-icon>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary">Submit</button>
  </form>
</div>
