<mat-form-field appearance="outline">
  <mat-label>First Name</mat-label>
  <input matInput placeholder="John" />
</mat-form-field>

<mat-form-field>
  <mat-label>Second Name</mat-label>
  <input matInput placeholder="Doe" />
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Email</mat-label>
  <input matInput placeholder="text@g.com" />
</mat-form-field>

<mat-form-field>
  <mat-label>FirstName</mat-label>
  <input matInput placeholder="John" />
</mat-form-field>
<mat-form-field>
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">Go Hard</mat-option>
    <mat-option value="two">Go Home</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Textarea</mat-label>
  <textarea matInput placeholder="Write Something"></textarea>
</mat-form-field>
