<div class="container">
  <div class="career-container">
    <div class="tabs-container">
      <!-- <div>
        <button mat-button>Bio</button>
      </div>
      <div>
        <button mat-button>Career</button>
      </div>
      <div>
        <button mat-button>Education</button>
      </div>
    </div> -->
      <div class="details-container">
        <div>
          <!-- <app-career class="container"></app-career> -->
          <app-bio></app-bio>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
