<div class="chart-container">
  <div class="cards-container">
    <app-card-one class="dashboard-card"></app-card-one>
    <app-card-two class="dashboard-card"></app-card-two>

    <app-card-three class="dashboard-card"></app-card-three>

    <app-card-four class="dashboard-card"></app-card-four>
  </div>

  <div class="charts">
    <div class="pie-chart" [chart]="piechart"></div>
    <div class="line-chart" [chart]="linechart"></div>
  </div>
</div>
<!-- <app-host-listener></app-host-listener> -->
