<!-- <mat-toolbar><h1>MyNav</h1></mat-toolbar>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side">
    <div>
      <h1>Sidenav Header</h1>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    other Content goes here
    <div>
      <button mat-button color="primary">
        <input type="file" (change)="onFileSelected($event)" />
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="example-container" autosize>
  <mat-toolbar>
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="side-buttons">
      <div class="button">
        <button routerLink="/charts" mat-button>
          <mat-icon>dashboard</mat-icon>Dashboard
        </button>
      </div>

      <mat-divider></mat-divider>
      <div class="button">
        <button routerLink="/users" mat-button>
          <mat-icon>people</mat-icon>Users
        </button>
      </div>
      <mat-divider></mat-divider>
      <div class="button">
        <button mat-button><mat-icon>map</mat-icon>Map</button>
      </div>
      <mat-divider></mat-divider>
      <a routerLink="/career">
        <div class="button">
          <button mat-button><mat-icon>trending_up</mat-icon>Data</button>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="/orders">
        <div class="button">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Orders</button>
        </div>
      </a>

      <mat-divider></mat-divider>

      <div class="button">
        <button mat-button><mat-icon>account_circle</mat-icon>Account</button>
      </div>

      <mat-divider></mat-divider>

      <div class="button">
        <button mat-button><mat-icon>settings</mat-icon>Settings</button>
      </div>

      <mat-divider></mat-divider>
    </div>

    <div class="side-buttons">
      <div class="button">
        <button mat-button><mat-icon>logout</mat-icon>Logout</button>
      </div>
    </div>

    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      <mat-icon>back_hand</mat-icon>
    </button> -->
  </mat-drawer>
  <mat-drawer-content>
    <div class="example-sidenav-content">
      <button
        matTooltip="Menu"
        type="button"
        mat-button
        (click)="drawer.toggle()"
        color="primary"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
