.container {
  width: 100%;
  height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  width: 100%;
  display: flex;
  /* height: 100%; */
  justify-content: left;
  align-items: center;
  .mat-icon {
    color: white;
  }
}

mat-drawer.mat-drawer-side {
  width: 200px;
  padding: 0;
}

.sidenav {
  background-color: #144b73;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.side-toolbar {
  background-color: #144b73;
  height: 6%;
  padding-left: 0px;
}
mat-drawer {
  background-color: rgb(255, 255, 255);
  .mat-button:hover {
    color: white;
  }
}

.side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: white;
}
.button {
  width: 100%;
  /* color: white; */
  .mat-icon {
    color: white;
  }
  .mdc-button .mdc-button__label {
    color: white;
  }
}
.button:hover {
  background-color: #3f7aa4;
}
