<!-- <mat-toolbar><h1>MyNav</h1></mat-toolbar>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side">
    <div>
      <h1>Sidenav Header</h1>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    other Content goes here
    <div>
      <button mat-button color="primary">
        <input type="file" (change)="onFileSelected($event)" />
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <mat-toolbar class="side-toolbar">
      <div class="sidenav-content">
        <p (click)="drawer.toggle()">
          <mat-icon>arrow_back_ios</mat-icon>
        </p>
      </div>
    </mat-toolbar>
    <div class="side-buttons">
      <a routerLink="/charts">
        <div class="button">
          <button mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
        </div>
      </a>

      <mat-divider></mat-divider>
      <a routerLink="/users">
        <div class="button">
          <button mat-button><mat-icon>people</mat-icon>Users</button>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="/maps">
        <div class="button">
          <button mat-button><mat-icon>map</mat-icon>Map</button>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="/career">
        <div class="button">
          <button mat-button><mat-icon>trending_up</mat-icon>Data</button>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="/orders">
        <div class="button">
          <button mat-button><mat-icon>shopping_cart</mat-icon>Orders</button>
        </div>
      </a>

      <mat-divider></mat-divider>
      <a routerLink="">
        <div class="button">
          <button mat-button><mat-icon>account_circle</mat-icon>Account</button>
        </div>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="settings">
        <div class="button">
          <button mat-button><mat-icon>settings</mat-icon>Settings</button>
        </div>
      </a>
      <mat-divider></mat-divider>
    </div>

    <div class="side-buttons">
      <div class="button">
        <button mat-button><mat-icon>logout</mat-icon>Logout</button>
      </div>
    </div>

    <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      <mat-icon>back_hand</mat-icon>
    </button> -->
  </mat-drawer>
  <mat-drawer-content>
    <div class="example-sidenav-content">
      <p (click)="drawer.toggle()">
        <mat-icon matTooltip="Menu">menu_open</mat-icon>
      </p>
    </div>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
