<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <header class="brand-name"></header>
  </head>
  <body>
    <section class="content">
      <app-navbar></app-navbar>
      <!-- <app-sidenav></app-sidenav>
     <app-home></app-home>
    <app-sidenav></app-sidenav>
    <app-profile-photo></app-profile-photo>
    <app-profile-photo></app-profile-photo>
    <app-career-profile></app-career-profile>
    <button mat-raised-button>Hello World</button>
    <app-practice></app-practice>
    <app-login></app-login>
    <app-charts></app-charts> -->
      <!-- <router-outlet></router-outlet> -->
    </section>
  </body>
</html>
