.main-container {
  display: flex;
  justify-content: center;
}
.users-container {
  /* display: flex; */
  width: 90%;

  /* justify-content: center; */
}
mat-card {
  display: flex;
  justify-content: space-between;
  background-color: #ccdce9;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-left: 10px;
}
.add {
  color: #144b73;
  h1 {
    color: #144b73;
    /* margin-left: 10px; */
  }

  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  width: auto;
  margin-top: 1%;
  justify-content: space-between;
  /* background-color: #eaedf7; */

  .add-button {
    border: 0;
    border-radius: 12px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 1px; */

    .mat-icon {
      display: flex;
      font-size: 25px;
      justify-content: center;
      align-items: center;
    }
  }
}
/* h1 {
  color: #6259ca;
} */
