table {
  width: 100%;
  border-radius: 15px;
  /* overflow: hidden; */
}
th {
  color: #144b73;
  border-radius: 8px;
}
td {
  border-radius: 8px;
}
.mat-table {
  /* border-color: #fceadf; */
  border-radius: 15px;
}
